<nav>
  <div class="site-title">
    <a href="/"><h2>Kontrolna ploča</h2></a>
  </div>
  <ul>
    <a href="/">O aplikaciji</a>
    <a href="/izmjena_printer"> | Izmjena printer</a>
    <a href="/izmjena_hdd"> | Izmjena HDD</a>
    <a href="/kontrolna_ploca"> | Kontrolna ploča</a>
  </ul>
</nav>
