<html lang="hr">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>O aplikaciji</h1>
    <p>
      Ova aplikacija je izrađena za potrebe projektnog rada na temu "Aplikacija za nadzor mrežne infrastrukture - Grafovska baza podataka Neo4j".</p>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
